USE [OtobusOtomasyonDB]
GO
/****** Object:  Table [dbo].[Biletler]    Script Date: 16.07.2026 15:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biletler](
	[BiletID] [int] IDENTITY(1,1) NOT NULL,
	[SeferID] [int] NULL,
	[YolcuID] [int] NULL,
	[KoltukNo] [int] NOT NULL,
	[SatisTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BiletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 16.07.2026 15:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[Rol] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Otobusler]    Script Date: 16.07.2026 15:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otobusler](
	[OtobusID] [int] IDENTITY(1,1) NOT NULL,
	[Plaka] [nvarchar](20) NOT NULL,
	[Marka] [nvarchar](50) NULL,
	[KoltukSayisi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OtobusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seferler]    Script Date: 16.07.2026 15:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seferler](
	[SeferID] [int] IDENTITY(1,1) NOT NULL,
	[OtobusID] [int] NULL,
	[KalkisNoktasi] [nvarchar](50) NULL,
	[VarisNoktasi] [nvarchar](50) NULL,
	[TarihSaat] [datetime] NULL,
	[BiletFiyati] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yolcular]    Script Date: 16.07.2026 15:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yolcular](
	[YolcuID] [int] IDENTITY(1,1) NOT NULL,
	[TCNo] [char](11) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Cinsiyet] [char](5) NULL,
	[Telefon] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[YolcuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Biletler] ON 

INSERT [dbo].[Biletler] ([BiletID], [SeferID], [YolcuID], [KoltukNo], [SatisTarihi]) VALUES (7, 9, 8, 1, CAST(N'2026-04-14T00:37:39.087' AS DateTime))
INSERT [dbo].[Biletler] ([BiletID], [SeferID], [YolcuID], [KoltukNo], [SatisTarihi]) VALUES (8, 9, 9, 2, CAST(N'2026-04-14T00:37:55.193' AS DateTime))
INSERT [dbo].[Biletler] ([BiletID], [SeferID], [YolcuID], [KoltukNo], [SatisTarihi]) VALUES (9, 9, 10, 9, CAST(N'2026-04-14T00:38:06.513' AS DateTime))
SET IDENTITY_INSERT [dbo].[Biletler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [AdSoyad], [Rol]) VALUES (2, N'admin', N'1234', NULL, N'Admin')
INSERT [dbo].[Kullanicilar] ([KullaniciID], [KullaniciAdi], [Sifre], [AdSoyad], [Rol]) VALUES (3, N'memur', N'1234', NULL, N'Memur')
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Otobusler] ON 

INSERT [dbo].[Otobusler] ([OtobusID], [Plaka], [Marka], [KoltukSayisi]) VALUES (1, N'16BRS16', N'Mercedes', 41)
INSERT [dbo].[Otobusler] ([OtobusID], [Plaka], [Marka], [KoltukSayisi]) VALUES (2, N'34BRS34', N'Mercedes', 41)
INSERT [dbo].[Otobusler] ([OtobusID], [Plaka], [Marka], [KoltukSayisi]) VALUES (3, N'26BRS26', N'Volvo', 41)
SET IDENTITY_INSERT [dbo].[Otobusler] OFF
GO
SET IDENTITY_INSERT [dbo].[Seferler] ON 

INSERT [dbo].[Seferler] ([SeferID], [OtobusID], [KalkisNoktasi], [VarisNoktasi], [TarihSaat], [BiletFiyati]) VALUES (9, 1, N'İstanbul', N'Ankara', CAST(N'2026-04-15T10:00:00.000' AS DateTime), CAST(1300.00 AS Decimal(18, 2)))
INSERT [dbo].[Seferler] ([SeferID], [OtobusID], [KalkisNoktasi], [VarisNoktasi], [TarihSaat], [BiletFiyati]) VALUES (10, 1, N'Bursa ', N'İstanbul', CAST(N'2026-04-15T07:00:00.000' AS DateTime), CAST(800.00 AS Decimal(18, 2)))
INSERT [dbo].[Seferler] ([SeferID], [OtobusID], [KalkisNoktasi], [VarisNoktasi], [TarihSaat], [BiletFiyati]) VALUES (14, 1, N'Ankara', N'Mersin', CAST(N'2026-04-15T11:00:00.000' AS DateTime), CAST(1500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Seferler] OFF
GO
SET IDENTITY_INSERT [dbo].[Yolcular] ON 

INSERT [dbo].[Yolcular] ([YolcuID], [TCNo], [Ad], [Soyad], [Cinsiyet], [Telefon]) VALUES (8, N'159556653  ', N'Mehmet', N'Yıldız', N'Erkek', N'0549345654')
INSERT [dbo].[Yolcular] ([YolcuID], [TCNo], [Ad], [Soyad], [Cinsiyet], [Telefon]) VALUES (9, N'bfdsgfg    ', N'fdsg', N'gfdgdsg', N'Erkek', N'dsgd')
INSERT [dbo].[Yolcular] ([YolcuID], [TCNo], [Ad], [Soyad], [Cinsiyet], [Telefon]) VALUES (10, N'fgdsgd     ', N'gfdsgfdg', N'fdgdsg', N'Kadın', N'gdgd')
SET IDENTITY_INSERT [dbo].[Yolcular] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Yolcular__B770B75432FC429D]    Script Date: 16.07.2026 15:01:05 ******/
ALTER TABLE [dbo].[Yolcular] ADD UNIQUE NONCLUSTERED 
(
	[TCNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Biletler] ADD  DEFAULT (getdate()) FOR [SatisTarihi]
GO
ALTER TABLE [dbo].[Biletler]  WITH CHECK ADD FOREIGN KEY([SeferID])
REFERENCES [dbo].[Seferler] ([SeferID])
GO
ALTER TABLE [dbo].[Biletler]  WITH CHECK ADD FOREIGN KEY([YolcuID])
REFERENCES [dbo].[Yolcular] ([YolcuID])
GO
ALTER TABLE [dbo].[Seferler]  WITH CHECK ADD FOREIGN KEY([OtobusID])
REFERENCES [dbo].[Otobusler] ([OtobusID])
GO
